/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//import fonts from google font
@import url('https://fonts.googleapis.com/css?family=Arvo|M+PLUS+1p|Noto+Serif+JP|Solway&display=swap');


//custom
@import "navbar";
@import "reset";
@import "form";
@import "actiontext";
@import "articles";


//Base
:root{
    --light-gray: #2b3032a1;
    --border:#2b303218;
    --text-color:#ff686b;
    --primary-color:#1a2224;
    --solway: "Solway", serif;
    --Arvo: "Arvo", serif;
	--Noto-Serif-JP: "Noto Serif JP", serif;
	--M-PLUS-1-p: "M PLUS 1p", sans-serif;
}
.primary-color{
    color: var(--primary-color);
}
.bg-primary-color{
background-color: var(--primary-color)!important;
}
.text-color{
    color: var(--text-color);
}
.font-solway{
    font-family: var(--solway)
}
.lightblue{
    color:lightblue;
}

.japanese{
	font-family: var(--M-PLUS-1-p);
}
