.space {
  padding-top: 70px;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__name {
    font-size: 1.8rem;
  }
  &__count {
    font-size: 1.2rem;
  }
}

.main_bg {
  background-image: image-url("bondi_beach.jpg");
  height: 0;
  width: 100%;
  padding-top: 33.31697742%;
  margin: 0;
  background-size: cover;
  background-position: center center;
}

a.fab {
  margin-left: 30px;
  transform: translateY(-50%);
  font-size: 1.5em;
}

.fab.fa-github {
  color: black;
  text-decoration: none;
}
.fab.fa-instagram {
  color: black;
  text-decoration: none;
}
.fab.fa-twitter {
  color: black;
  text-decoration: none;
}
.fab.fa-facebook {
  color: black;
  text-decoration: none;
}

.button {
  margin-bottom: 15px;
  color: black;
  background-color: white;

  margin-top: 10px;
  border-radius: 4px;
  display: block;
  line-height: 35px;
  font-size: 14px;
  width: 100%;
  border: 1px solid;
  cursor: pointer;
  text-align: center;
  position: relative;
  &:hover {
    color: black;
    text-decoration: none;
    background-color: rgba(128, 128, 128, 0.384);
  }
}

.article-body{
  margin-top: 50px;
  &__box{
    margin: 20px auto;
    width: 20rem;
    position: relative;
    display: inline-block;
    &::before {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -10px; /*下線の上下位置調整*/
      display: inline-block;
      width: 92%; /*下線の幅*/
      height: 1px; /*下線の太さ*/
      -moz-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translate(-50%); /*位置調整*/
      background-color: rgb(207, 207, 207); /*下線の色*/
    }
    .design {
      text-decoration: none;
    }
    &__image{
      width: 100%;
      height: 200px;
      overflow: hidden;
    }
    &__title{
      color: black;
      font-size: 1.4rem;
    }
    &__title-privacy-head{
      color: black;
      font-size: 1.8rem;
      font-weight: bold;
    }
    &__title-privacy{
      margin-top: 20px;
      color: black;
      font-size: 1.1rem;
      text-decoration:underline;
    }
    &__title-show{
      color: black;
      font-size: 1.8rem;
    }
    &__time{
      color: black;
      font-size: 0.8rem;
    }
    &__lead {
      color: black;
      font-size: 1rem;
    }
    &__button{
      display: flex;
      justify-content: left;
      text-align: center;
      .each-b{
        text-decoration: none;
        color: white;
        margin: 1rem 5px 10px 5px;
        background-color: gray;
        width: 100%;
        height: 30px;
        line-height: 30px;
      }
      .each-ba{
        text-decoration: none;
        color: white;
        margin: auto 10px 1rem 10px;
        background-color: gray;
        width: 155px;
        height: 30px;
        line-height: 30px;
      }
      .each-dt{
        text-decoration: none;
        color: white;
        margin: auto 10px 1rem 10px;
        background-color: gray;
        width: 155px;
        height: 30px;
        line-height: 30px;
      }
    }
    &__tag {
      padding-top: 20px;
      color: black;
      font-size: 13px;
      margin-right: 20px;
      font-style: italic;
      width: 100%;
      &:hover {
        text-decoration: none;
        color: rgb(183, 185, 187);
      }
    }
    &__result {
      display: flex;
        &__image{
          height: 30%;
          width: 30%;
          margin-right: 20px;
          display: inline-block;
          overflow: hidden;
          img {
            height: 100%;
            width: 100%;
            object-fit: contain;
          }
        }

      &__content {
        width: 100%;
        &__title {
          font-size: 1.3rem;
          color: black;
        }
        &__lead {
          color: black;
          font-size: 1rem;
        }
        &__tag {
          font-size: 0.8rem;
          color: black;
          margin-left: 20px;
          font-style: italic;
        }
      }
    }
  }
}

@media screen and (max-width:770px){
  .article-body{
      &__box{
        width: 500px;
        margin: 5px;
        &__image{
        height: 300px;
        }
        &__result {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          &__image {
            height: 100%;
            width: 100%;
            margin-right: 0;
          }
          &__content {
            width: 100%;
            &__tag {
              margin-left: 20px;
            }
          }
        }
    }
  }
  .footer-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
}

@media screen and (max-width:540px){
  .article-body{
    &__box{
      width: 90%!important;
      margin: 5%;
        &__image{
        height: 200px;
      }
    }
  }
}

//paginate start
.pagination {
  margin-left: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}
a.page-link {
  border: none;
  color: white;
  margin: 10px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 50px !important;
}
.pagination .active a.page-link {
  background: gray;
  border-radius: 100px;
  border: none;
}
.pagination li a.page-link:hover {
  border-radius: 50px;
  color: black;
}
//paginate end