.space {
  padding-top: 70px;
}

.main_bg {
  background-image: image-url("bondi_beach.jpg");
  height: 0;
  width: 100%;
  padding-top: 33.31697742%;
  margin: 0;
  background-size: cover;
  background-position: center center;
}

a.fab {
  margin-left: 30px;
  transform: translateY(-50%);
  font-size: 1.5em;
}

.fab.fa-github {
  color: black;
  text-decoration: none;
}
.fab.fa-instagram {
  color: black;
  text-decoration: none;
}
.fab.fa-twitter {
  color: black;
  text-decoration: none;
}
.fab.fa-facebook {
  color: black;
  text-decoration: none;
}

.article-body{
  margin-top: 50px;
  &__box{
    margin: 20px auto;
    width: 20rem;
    position: relative;
    display: inline-block;
    &::before {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -10px; /*下線の上下位置調整*/
      display: inline-block;
      width: 92%; /*下線の幅*/
      height: 1px; /*下線の太さ*/
      -moz-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translate(-50%); /*位置調整*/
      background-color: rgb(207, 207, 207); /*下線の色*/
    }
    .design {
      text-decoration: none;
    }
    &__category {
      color: black;
      font-size: 13px;
    }
    &__image{
      width: 100%;
      height: 200px;
      overflow: hidden;
    }
    &__title{
      color: black;
    }
    &__time{
      color: black;
      font-size: 13px;
    }
    &__lead {
      color: black;
    }
    &__button{
      display: flex;
      justify-content: left;
      text-align: center;
      .each-b{
        text-decoration: none;
        color: white;
        margin: 1rem 5px 10px 5px;
        background-color: gray;
        width: 100%;
        height: 30px;
        line-height: 30px;
      }
      .each-ba{
        text-decoration: none;
        color: white;
        margin: auto 10px 1rem 10px;
        background-color: gray;
        width: 155px;
        height: 30px;
        line-height: 30px;
      }
      .each-dt{
        text-decoration: none;
        color: white;
        margin: auto 10px 1rem 10px;
        background-color: gray;
        width: 155px;
        height: 30px;
        line-height: 30px;
      }
    }
    &__result {
      display: flex;
      &__image{
        display: inline-block;
        height: 30%;
        width: 30%;
        overflow: hidden;
        margin-right: 20px;

        img {
          height: 100%;
          width: 100%;
          object-fit: contain;

        }
      }
      &__content {
        width: 100%;
        &__title {
          font-size: 1.3rem;
          color: black;
        }
        &__category {
          font-size: 0.8rem;
          color: black;
        }
        &__lead {
          color: black;
        }
      }
    }
  }
}

.jumbotron {
  background-color: white;
}

@media screen and (max-width:760px){
  .article-body{
      &__box{
        width: 500px;
        &__image{
        height: 300px;
      }
    }
  }
}

@media screen and (max-width:540px){
  .article-body{
      &__box{
        width: 300px;
        &__image{
        height: 200px;
      }
    }
  }
}

//paginate start
.pagination {
  margin-left: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}
a.page-link {
  border: none;
  color: white;
  margin: 10px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 50px !important;
}
.pagination .active a.page-link {
  background: gray;
  border-radius: 100px;
  border: none;
}
.pagination li a.page-link:hover {
  border-radius: 50px;
  color: black;
}
//paginate end