.user-form {
  padding: 150px;
  margin: auto;
  &__field {
    max-width: 400px;
    margin: auto;
    &__actions {
      margin-top: 30px;
      max-width: 400px;
      height: calc(1.5em + 0.75rem + 2px);
      background-color: gray;
      border-radius: 0.25rem;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      display: flex;
    }
  }
}

input.btn {
  color: white;
}

